<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="color:red">

  <div class="header">
    Header goes here
  </div>
  <h1 style="color:blue" >ISM 6225</h1>
  <div class="body-content">
    @RenderBody()
  </div>

  <div class="footer">
    Footer goes here
  </div>
</body>
</html>
