@model DIS_Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script type="text/javascript">
        function validateCitiesAndPop() {
            var cityIdJS = document.getElementById("cityId").value;
            var popIdJS = document.getElementById("popId").value;
            var cityIdJsArr = cityIdJS.split(",");
            var popIdJsArr = popIdJS.split(",");

                if (cityIdJS == "")
                {
                    alert("City data is missing!");
                    return;
                }
                else if (cityIdJsArr.length < 5 && cityIdJsArr.length >= 1)
                {
                    alert("Don't be a miser, enter 5 City names!")
                    return;
                }
                else if (cityIdJsArr.length > 5)
                {
                    alert("Control your emotions, only 5 city names are needed!")
                    return;
                }
                else
                {
                    alert("These are the cities you entered :" + cityIdJsArr);
                }

                if (popIdJS == "")
                {
                    alert("Population data is missing!");
                    return;
                }
                else if (popIdJsArr.length < 5 && cityIdJsArr.length >= 1)
                {
                    alert("Enter 5 corresponding city populations!")
                    return;
                }
                else if (popIdJsArr.length > 5)
                {
                    alert("Control your emotions, only 5 city populations are needed!")
                    return;
                }
                else
                {
                    alert("Populations corresponding to the entered cities are :" + popIdJsArr);
                }
        }
    </script>

</head>
<body class="body-content">

    <div class="blinking">
        Welcome to my chart!
    </div>
    <div class="div">

        <br />
        <br />
        <form asp-controller="Home" asp-action="Index" method="post">
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input asp-for="name" /></td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td><input asp-for="address" /></td>
                </tr>
                <tr>
                    <td>Cities: </td>
                    <td><input id="cityId" asp-for="cities" placeholder="Enter 5 cities to create the chart."/></td>
                </tr>
                <tr>
                    <td>Population: </td>
                    <td><input id="popId" asp-for="population" placeholder="Enter population of each city."/></td>
                </tr>
            </table>
            <br />
            <button type="submit" onclick="validateCitiesAndPop()">Submit</button>
        </form>



        <canvas id="barchartexample"></canvas>

        <script>
            var cityIdJS = document.getElementById("cityId").value;
            var popIdJS = document.getElementById("popId").value;
            var cityIdJsArr = cityIdJS.split(",");
            var popIdJsArr = popIdJS.split(",");
            new Chart(document.getElementById("barchartexample"), {
                type: 'bar',
                data: {
                    labels: [cityIdJsArr[0], cityIdJsArr[1], cityIdJsArr[2], cityIdJsArr[3], cityIdJsArr[4] ],
                    datasets: [
                        {
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#ff6384", "#ffce56"],
                            data: [popIdJsArr[0], popIdJsArr[1], popIdJsArr[2], popIdJsArr[3], popIdJsArr[4]]
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Predicted world population (millions) in 2050'
                    }
                }
            });
        </script>

    </div>

    <div class="footer">
        Cities that you entered are : @Model.cities <br />
        The corresponding populations are : @Model.population
    </div>
</body>
</html>
