.body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: cadetblue;
}

.body-content {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    color: aqua;
    width: 50%;
}
