body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.header {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: burlywood;
}
.body-content {
    font-size: 40px;
    font-weight: 700;
    font-style: oblique;
    color: blueviolet;
}